* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

    src: local("Roboto"),
        local("Roboto-Regular"),

        url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;

    src: local("Ubuntu"),
        local("Ubuntu-Regular"),

        url(/fonts/Ubuntu-Regular.ttf);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cards {
    margin: 0 0 163px 0;
}

.card:nth-child(even) .card__wrapper {
    flex-direction: row-reverse;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.main {
    display: grid;
    justify-items: center;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}

.advantageCards__wrapper {
    width: 1400px;
}

.advantageCards {
    display: flex;
    flex-wrap: wrap;
}

.advantageCard {
    width: 416px;
    margin: 0 56px 45px 0;

    &:nth-of-type(3n) {
        margin: 0 40px 45px 0;
    }

    &:nth-of-type(7) {
        margin: 0 56px 162px 0;
    }

    &:nth-of-type(8) {
        margin: 0 56px 162px 0;
    }

    &:nth-of-type(9) {
        margin: 0 40px 162px 0;
    }
}

.advantageCards__wrapper {
    margin: 0 auto;
}

.advantageCards__title {
    width: 810px;
    margin: 0 0 71px 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 60px;

    color: var(--colorDullMagenta);
}

.advantageCards__titleDividingLine {
    display: none;
}

.container {
    margin: 0 auto;
}

.advantageCards__background {
    display: none;
}

@media (max-width: 767px) {
    .cards {
        margin: 0 auto 88px auto;
        flex-direction: row-reverse;
    }

    .card__wrapper {
        flex-direction: row-reverse;
    }

    .advantageCard:nth-of-type(n) {
        margin: 0 auto 0 auto;
    }

    .advantageCards {
        margin: 0 auto 85px auto;
    }

    .advantageCard {
        &:nth-last-of-type(1) {
            .advantageCard__wrapper {
                &:nth-last-child(1) {
                    margin-bottom: 73px;
                }
            }
        }
    }

    .advantageCards__wrapper {
        position: relative;
        width: 320px;
        margin: 0 auto 85px auto;
    }

    .advantageCards__background {
        position: absolute;
        z-index: -1;
        display: block;

        width: 320px;
        height: 100%;

        background: var(--colorDarkerWhite);
        backdrop-filter: blur(4px);
    }

    .advantageCards__title {
        width: 270px;
        margin: 40px auto 30px auto;

        font-weight: 500;
        font-size: 26px;
        line-height: 34px;
    }

    .advantageCards__titleDividingLine {
        display: block;
        width: 320px;
        height: 0px;

        opacity: 0.15;
        border: 1px solid var(--colorPink);
    }
}